<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoreTransitionAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F46D36E1D66B25000C1F63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F46D38A1D66B25000C1F63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F46D3951D66B25000C1F63C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
